:root {
  --blackish: #272a31;
  --redish: #ec5242;
  --lightcolor: #d3d3d3;
  --transition: all 300ms linear;
}

.niche {
  display: flex;
  justify-content: center;
}

.niche div {
  height: 4px;
  width: 100px;
  border: none;
  background: var(--redish);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

div .social-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 5px 200px 5px 0;
  align-items: center;
  position: fixed;
  background: linear-gradient(to right, var(--redish), orange);
  width: 100%;
  z-index: 9999;
  color: var(--blackish);
}

nav {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: var(--blackish);
  padding: 20px 15% 0 15%;
  margin-top: 10px;
}

nav a img {
  width: 45px;
}

.nav-btn {
  border: 5px solid var(--redish);
  text-decoration: none;
  padding: 6px 10px;
}

.nav-btn span {
  color: var(--redish);
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  background: linear-gradient(to right, var(--redish), orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section {
  min-height: 100vh;
  padding: 15% 20% 0 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background:
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("img/portfolio_img_3.jpg") center/cover no-repeat;
}

.main-section h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  background: linear-gradient(to right, var(--redish), orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
}

.main-section h2 {
  color: var(--lightcolor);
  font-size: 1.1rem;
}

.main-section .section-text {
  font-size: 1rem;
  color: var(--lightcolor);
  line-height: 1.4;
  text-align: center;
  border: 2px solid var(--lightcolor);
  padding: 10px;
  background: var(--blackish);
}

.main-section .section-email {
  color: var(--lightcolor);
  font-weight: bold;
}

.main-section a {
  text-decoration: none;
}

/* ========================About Summit ======================== */
.about-summit {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px 25% 30px 25%;
  gap: 20px;
  border-top: 3px solid var(--lightcolor);
  border-bottom: 3px solid var(--lightcolor);
}

.about-summit .summit-logo {
  border: 2px solid var(--lightcolor);
  padding: 10px 40px 10px 40px;
}

/* ======================Past Summit Section===================== */
main .past-summit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 25% 50px 25%;
}

.past-summit .past-summit-img {
  display: flex;
  gap: 20px;
  
}

.past-summit-img img {
  width: 280px;
  height: 180px;
  

  filter: opacity(0.5) drop-shadow(0 0 #ff0000)
  
}

/* ======================Footer==================== */

footer {
  background: var(--blackish);
  height: 200px;
  display: grid;
  grid-template-columns: 40% 60%;
  padding: 30px 20% 50px 20%;
}

footer .footer-logo {
  display: flex;
  gap: 2px;
  align-items: center;
}

.footer-logo img {
  width: 50px;
  height: 50px;
}

.footer-logo h4 {
  color: var(--lightcolor);
  font-size: 1.5rem;
  line-height: 0.8;
  overflow: hidden;
}

footer .footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.footer-copyright p {
  color: var(--lightcolor);
  font-size: 0.9rem;
}

@media only screen and (max-width: 767px) {
  div .social-nav {
    display: none;
  }

  nav {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: var(--blackish);
    padding: 0 20px 0 20px;
    margin: 0;
  }

  nav a img {
    width: 40px;
  }

  .nav-btn {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    cursor: pointer;
  }

  .bar {
    height: 5px;
    background: linear-gradient(to right, var(--redish), orange);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(to right, var(--redish), orange);
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
    transition: 0.5s ease;
    background: linear-gradient(to right, var(--redish), orange);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
    transition: 0.5s ease all;
    background: linear-gradient(to right, var(--redish), orange);
  }

  .nav-menu {
    width: 100%;
    left: -100%;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    top: 0;
    background: var(--blackish);
    transition: 0.5s ease;
    display: flex;
    justify-content: start;
    gap: 30px;
    padding-top: 80px;
  }

  .nav-item {
    display: flex;
    justify-content: center;
  }

  .nav-link {
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s;
    background: linear-gradient(to right, var(--redish), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav-menu.active {
    left: 0;
  }

  nav li a {
    text-decoration: none;
  }

  .main-section {
    min-height: 100vh;
    padding: 20% 1% 0 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background:
      linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("img/portfolio_img_3.jpg") center/cover no-repeat;
  }

  .main-section h1 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to right, var(--redish), orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
  }

  .main-section h2 {
    color: var(--lightcolor);
    font-size: 1.1rem;
    padding: 10px;
    text-align: center;
  }

  .main-section .section-text {
    font-size: 1rem;
    color: var(--lightcolor);
    line-height: 1.4;
    text-align: center;
    border: 2px solid var(--lightcolor);
    padding: 10px;
    background: var(--blackish);
  }

  .main-section .section-email {
    color: var(--lightcolor);
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .main-section a {
    text-decoration: none;
  }

  /* ========================About Summit ======================== */
  .about-summit {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 12% 30px 12%;
    gap: 20px;
    border-top: 3px solid var(--lightcolor);
    border-bottom: 3px solid var(--lightcolor);
  }

  .about-summit div {
    border: 2px solid var(--lightcolor);
    padding: 10px 40px 10px 40px;
  }

  /* ======================Past Summit Section===================== */
  main .past-summit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 5% 50px 5%;
  }

  .past-summit .past-summit-img {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .past-summit-img img {
    width: 420px;
    height: 320px;
    opacity: 0.7;
  }

  /* ======================Footer==================== */

  footer {
    background: var(--blackish);
    height: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 10% 50px 10%;
  }

  footer .footer-logo {
    display: flex;
    gap: 2px;
    align-items: center;
  }

  .footer-logo img {
    width: 50px;
    height: 50px;
  }

  .footer-logo h4 {
    color: var(--lightcolor);
    font-size: 1rem;
    line-height: 0.8;
    overflow: hidden;
  }

  footer .footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }

  .footer-copyright p {
    color: var(--lightcolor);
    font-size: 0.9rem;
    overflow: hidden;
  }

  .footer-copyright .logo-text {
    display: none;
  }
}
